.header{
   background: linear-gradient(to top,black,rgb(106, 106, 240));
    color: white;
    padding: 1em 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    width: 1000px;
    height: 40vh;
}


.Logo{
    font-size: 3em;
}

.icono{
    height: 3em;
    width: 3em;
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0.2em;
}

.buscador{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    overflow: hidden;
    position: absolute;
    bottom: -1.5em;
    left: 50%;
    transform: translateX(-50%);
}
.buscador input[type="text"]{
    height: 2em;
    width: 15em;
    border: none;
    border-radius: 0.5em;
    padding: 0 0.5em;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    color: gray;

}

.buscador input[type="text"]:focus{
    border: 0;
    outline: none;
    border-bottom: solid 2px salmon;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color: black;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}