*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto' , sans-serif;
  background: linear-gradient(to top,black,rgb(71, 71, 151));
  color: rgb(112, 194, 146);
}
